In [1]:
import os

In [2]:
import os

file_path = "C:/Users/Lehcene Mohamed/Downloads/Compressed/jar_files_3/mysql-connector-java-8.0.26.jar"

In [3]:
pip install pyspark

Requirement already satisfied: pyspark in f:\s3\nlp\lib\site-packages (3.5.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: py4j==0.10.9.7 in f:\s3\nlp\lib\site-packages (from pyspark) (0.10.9.7)

In [4]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in f:\s3\nlp\lib\site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in f:\s3\nlp\lib\site-packages (from mysql-connector-python) (4.21.12)
Note: you may need to restart the kernel to use updated packages.

In [5]:
from pyspark.sql import SparkSession

spark = SparkSession \
       .builder.config("spark.jars", file_path)\
       .master("local").appName("PySpark MySQL basic example")\
       .getOrCreate()

In [12]:
##Afficher contenu de la table COMMANDES

db_commerce_df = spark.read \
         .format("jdbc") \
         .option("url", "jdbc:mysql://localhost:4306/db_commerce")\
         .option("driver", "com.mysql.cj.jdbc.Driver")\
         .option("query","SELECT * from commandes")\
         .option("user", "root")\
         .option("password", "")\
         .load()

In [13]:
db_commerce_df.show()

+-----------+-------------+-------------+---------+
|ID_COMMANDE|DATE_COMMANDE|MONTANT_TOTAL|ID_CLIENT|
+-----------+-------------+-------------+---------+
|        101|   2024-01-10|        150.0|        1|
|        102|   2024-02-15|        200.5|        2|
|        103|   2024-03-20|        75.25|        3|
+-----------+-------------+-------------+---------+

In [14]:
#####1. Afficher le nombre total de commandes passées par tous les clients.

db_commerce_df = spark.read \
         .format("jdbc") \
         .option("url", "jdbc:mysql://localhost:4306/db_commerce")\
         .option("driver", "com.mysql.cj.jdbc.Driver")\
         .option("query","SELECT COUNT(*) AS NombreTotalCommandes FROM commandes")\
         .option("user", "root")\
         .option("password", "")\
         .load()

In [15]:
db_commerce_df.show()

+--------------------+
|NombreTotalCommandes|
+--------------------+
|                   3|
+--------------------+

In [16]:
### Pour afficher contenu de la table CLIENTS

db_commerce_df = spark.read \
         .format("jdbc") \
         .option("url", "jdbc:mysql://localhost:4306/db_commerce")\
         .option("driver", "com.mysql.cj.jdbc.Driver")\
         .option("query","SELECT * from clients")\
         .option("user", "root")\
         .option("password", "")\
         .load()

In [18]:
db_commerce_df.show()

+---------+------+------+--------------------+--------------------+
|ID_CLIENT|   NOM|PRENOM|               EMAIL|             ADRESSE|
+---------+------+------+--------------------+--------------------+
|        1|Dupont|  Jean|jean.dupont@email...|123 Rue de la Lib...|
|        2|Martin| Marie|marie.martin@emai...|456 Avenue des Fl...|
|        3|Leroux|Pierre|pierre.leroux@ema...|789 Boulevard du ...|
+---------+------+------+--------------------+--------------------+

In [20]:
##2. Afficher le client qui a dépensé le plus (en terme de montant).

db_commerce_df = spark.read \
         .format("jdbc") \
         .option("url", "jdbc:mysql://localhost:4306/db_commerce")\
         .option("driver", "com.mysql.cj.jdbc.Driver")\
         .option("query","SELECT c.ID_CLIENT, c.NOM, c.PRENOM, c.EMAIL, c.ADRESSE, SUM(co.MONTANT_TOTAL) AS MontantTotalDepense FROM clients c JOIN commandes co ON c.ID_CLIENT = co.ID_CLIENT GROUP BY c.ID_CLIENT, c.NOM, c.PRENOM, c.EMAIL, c.ADRESSE ORDER BY MontantTotalDepense DESC LIMIT 1")\
         .option("user", "root")\
         .option("password", "")\
         .load()

In [21]:
db_commerce_df.show()

+---------+------+------+--------------------+--------------------+-------------------+
|ID_CLIENT|   NOM|PRENOM|               EMAIL|             ADRESSE|MontantTotalDepense|
+---------+------+------+--------------------+--------------------+-------------------+
|        2|Martin| Marie|marie.martin@emai...|456 Avenue des Fl...|              200.5|
+---------+------+------+--------------------+--------------------+-------------------+

In [23]:

##3. Afficher la moyenne des dépenses par client.

db_commerce_df = spark.read \
         .format("jdbc") \
         .option("url", "jdbc:mysql://localhost:4306/db_commerce")\
         .option("driver", "com.mysql.cj.jdbc.Driver")\
         .option("query","SELECT c.ID_CLIENT, c.NOM, c.PRENOM, c.EMAIL, c.ADRESSE, AVG(co.MONTANT_TOTAL) AS MoyenneDepenses FROM clients c JOIN commandes co ON c.ID_CLIENT = co.ID_CLIENT GROUP BY c.ID_CLIENT, c.NOM, c.PRENOM, c.EMAIL, c.ADRESSE")\
         .option("user", "root")\
         .option("password", "")\
         .load()

In [24]:
db_commerce_df.show()

+---------+------+------+--------------------+--------------------+---------------+
|ID_CLIENT|   NOM|PRENOM|               EMAIL|             ADRESSE|MoyenneDepenses|
+---------+------+------+--------------------+--------------------+---------------+
|        1|Dupont|  Jean|jean.dupont@email...|123 Rue de la Lib...|          150.0|
|        2|Martin| Marie|marie.martin@emai...|456 Avenue des Fl...|          200.5|
|        3|Leroux|Pierre|pierre.leroux@ema...|789 Boulevard du ...|          75.25|
+---------+------+------+--------------------+--------------------+---------------+